<mat-card>
  <form (submit)="onSaveRecipe(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        [ngModel]="recipe?.title"
        required
        minlength="3"
        placeholder="Recipe title"
        #title="ngModel">
      <mat-error *ngIf="title.invalid">Please enter a Recipe title.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        name="method"
        [ngModel]="recipe?.method"
        required
        placeholder="Recipe method"
        #method="ngModel"></textarea>
      <mat-error *ngIf="method.invalid">Please enter Instructions for this Recipe.</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      type="submit">Save Recipe</button>
  </form>
</mat-card>
