<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="recipes.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let recipe of recipes">
  <mat-expansion-panel-header>
    {{recipe.title}}
    </mat-expansion-panel-header>
    <p>{{recipe.method}}</p>
    <mat-action-row>
      <a mat-button class="editbtn" [routerLink]="['/edit', recipe.id]">EDIT</a>
      <button mat-button class="deletebtn" (click)="onDelete(recipe.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-3" *ngIf="recipes.length <= 0 && !isLoading" >There are no Recipes to be shown yet. </p>